<table class="z-depth-1 bordered">
    <thead>
        <tr>
            <th>Done?</th>
            <th>Info</th>
            <th>Added</th>
            <th>Notified?</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tr ng-repeat="party in vm.parties | orderBy:'+done'" class="{{ party.done ? 'done' : '' }}">
        <td class="center-align">
            <input ng-model="party.done" ng-change="vm.toggleDone(party)" type="checkbox" id="{{ party.phone }}">
            <label for="{{ party.phone }}">&nbsp;</label>
        </td>

        <td>
            <div>
                <strong>
                    {{ party.name }}
                    {{ party.size }}
                    {{ party.size > 1 ? 'people' : 'person' }}
                </strong>
            </div>
            <div>{{ party.phone }}</div>
        </td>

        <td>
            {{ party.time | date:'shortTime' }}<br>
            {{ party.time | date:'mediumDate' }}
        </td>

        <td ng-show="party.notified">
            {{ party.notifiedTime | date:'shortTime' }}<br>
            {{ party.notifiedTime | date:'mediumDate' }}
        </td>

        <td ng-hide="party.notified">
            No
        </td>

        <td>
            <button ng-click="vm.sendTextMessage(party)"
                    ng-disabled="party.notified"
                    class="btn {{ party.notified ? 'btn-flat disabled' : '' }}">
                {{ party.notified ? 'SMS Sent' : 'Send SMS' }}
            </button>
            <button ng-click="vm.removeParty(party)" class="btn">Remove</button>
        </td>
    </tr>
</table>
